/* horizontalWrap - 가로모드 섹션 */
.horizontalWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.horizontalWrap {
    position: relative;
}
.horizontalDescWrap {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    /* background: #000; */
    position: absolute;
    left: 0;
    top: 0;
}

.horizontalSection, .horizontalDescSection {
    overscroll-behavior: none;
    width: 600%;
    display: flex;
    flex-wrap: nowrap;
}

.section {
    width: 100%;
    height: 100vh;
    color: #fff;
}

/* 제목&부제&설명 영역 */
.section__bigtitle {
    font-family: 'pp_eiko_italiclight';
    color: rgba(255, 255, 255, 0.2);
    font-size: 100px;
    margin-left: 80px;
}
.section__title {
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 2;
    color: #fff;
}
.section__desc {
    margin-top: 40px;
    line-height: 160%;
    color: #fff;
}

/* section common */
.section__inner {
    height: 100vh;
    display: flex;
    align-items: center;
}
.section__inner figure {
    width: 60%;
    z-index: 0;
    position: relative;
}
.section__titleDescWrap {
    position: absolute;
    right: 10vw;
    top: 15vh;
}

/* 버튼 */
.section__button__wrap {
    margin-top: 5vh;
}
.section__button > button {
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 8px 30px;
    font-size: 18px;
    background: transparent;
    border: 1px dashed #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.section__button > button:hover {
    background-color: transparent;
    text-shadow: none;
    color: #000;
}
.section__button > button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}
.section__button > button:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    content: '';
    background: #D2E3C0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}