/* listOfMyWork */
.listOfMyWork__wrap {
    display: flex;
    justify-content: space-between;
    background: #0B130D;
    color: #fff;
}
.listOfMyWork__wrap .titleDesc {
    width: 28%;
    margin-left: 40px;
    padding-top: 16vh;
}
.titleDesc > hr {
    margin: 4vw 0;
    height: 1px;
    background-color: #555;
    border: none;
}
.titleDesc .listOfMyWork__title {
    font-size: 4vw;
    line-height: 1.2;
    color: #D2E3C0;
}
.titleDesc .listOfMyWork__desc {
    line-height: 1.6;
}
.listOfMyWork__wrap .workList {
    width: 62%;
    margin-right: 40px;
    margin-top: 16vh;
    margin-bottom: 16vh;
}
.workList summary {
    padding: 2vw 1vw;
    display: block;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s;
    cursor: pointer;
}
.workList summary:hover {
    background-color: rgb(26, 31, 28);
}
details[open] summary {
    background-color: rgb(26, 31, 28);
}
/* details[open] summary:hover {
    background-color: #161a17;
} */
.first_summary {
    border-top: 1px solid #555;
}
summary .work__title {
    font-size: 24px;
}
/* summary .work__btn {
    background-image: url(assets/img/detail_btn.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2vw;
    height: 2vw;
    transition: transform 0.3s;
} */
summary .work__btn {
    background: #262626;
    background-image: url(../img/detail_btn.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2vw;
    height: 2vw;
    border-radius: 50px;
    transition: transform 0.3s;
    filter: invert(100%);
}

details[open] .work__btn {
    transform: rotate(180deg);
}
.work__desc__wrap .work__img {
    margin-top: 1vw;
}
.work__desc > p {
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    line-height: 1.6;
    column-count: 2;
}